@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We save your phone number, Email and Address in our database to manage your orders, You can delete your account and personal information from our database anytime you wish. </p>
